<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>FanLiWang</display-name>
  <servlet>
    <servlet-name>mvc</servlet-name>
    <servlet-class>
  			org.springframework.web.servlet.DispatcherServlet
  		</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:conf/spring-*.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>mvc</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <!-- Filter 定义  -->
    <!-- Character Encoding filter -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  <!-- <listener>
    <listener-class>com.wsloan.fanLiWang.util.SessionListener</listener-class>
  </listener> -->
  <!--   <filter>
  <filter-name>login</filter-name>
    <filter-class>com.wsloan.fanLiWang.util.LoginFilter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>login</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>-->
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  
  <!-- 设置session过期时间为30分钟 -->
    <session-config>
        <session-timeout>1440</session-timeout>
    </session-config>

    <!-- session过滤器配置相关 -->
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>com.wsloan.fanLiWang.util.LoginFilter2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <!--在这种情况下，如果请求是以/contract/…或者/user/…开头的，并且是通过request dispatcher的forward方法传递过来或者直接从客户端传递过来的，则必须经过这个过滤器。-->
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
  
   
  <!-- log4j配置，文件路径，因为是跟随项目启动 -->
<context-param>     
      <param-name>log4jConfigLocation</param-name>     
      <param-value>classpath:conf/log4j.properties</param-value>     
</context-param>  
	<listener>
	   <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
  
</web-app>